<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sitio Web - Proyecto Apple">
    <title>Apple</title>
    <link rel="shortcut icon" href="../../assets/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../vendors/swiper/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../../assets/styles/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>
    <header class="bg-body-tertiary">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav align-items-center mx-auto mb-2 mb-lg-0 gap-3">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="bi bi-apple text-dark"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navItem" href="#"><small>Store</small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navItem" href="#"><small>Mac</small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navItem" href="#"><small>iPad</small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navItem" href="#"><small>iPhone</small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navItem" href="#"><small>Watch</small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navItem" href="#"><small>Vision</small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navItem" href="#"><small>AirPods</small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navItem" href="#"><small>TV & Home</small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navItem" href="#"><small>Entertainment</small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navItem" href="#"><small>Accessories</small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navItem" href="#"><small>Support</small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="bi bi-search text-dark"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="bi bi-bag-fill text-dark"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="subNav" class="px-5">
            <section class="row row-cols-4 gap-5 justify-content-center">
                <section class="d-flex flex-column">
                    <p class="mb-3 text-secondary"><small>Explore Watch</small></p>
                    <h4 class="mb-1">Explore All Apple Watch</h4>
                    <h4 class="mb-1">Apple Watch Series 10</h4>
                    <h4 class="mb-1">Apple Watch Ultra 2</h4>
                    <h4 class="mb-1">Apple Watch SE</h4>
                    <h4 class="mb-1">Apple Watch Nike</h4>
                    <h4 class="mb-3">Apple Watch Hermès</h4>
                    <p class="mb-0 fw-semibold"><small>Compare Watch</small></p>
                    <p class="fw-semibold"><small>Why Apple Watch</small></p>
                </section>
                <section class="d-flex flex-column">
                    <p class="mb-3 text-secondary"><small>Shop Watch</small></p>
                    <p class="mb-1"><small>Shop Apple Watch</small></p>
                    <p class="mb-1"><small>Apple Watch Studio</small></p>
                    <p class="mb-1"><small>Apple Watch Bands</small></p>
                    <p class="mb-1"><small>Apple Watch Accessories</small></p>
                    <p class="mb-1"><small>Apple Trade In</small></p>
                    <p><small>Financing</small></p>
                </section>
                <section class="d-flex flex-column">
                    <p class="mb-3 text-secondary"><small>More from Watch</small></p>
                    <p class="mb-1"><small>Apple Watch Support</small></p>
                    <p class="mb-1"><small>AppleCare+</small></p>
                    <p class="mb-1"><small>watchOS 26 Preview</small></p>
                    <p class="mb-1"><small>Apple Watch For Your Kids</small></p>
                    <p class="mb-1"><small>Apps by Apple</small></p>
                    <p><small>Apple Fitness+</small></p>
                </section>
            </section>
        </div>
    </header>
    <main>
        <section id="section1">
            <section class="d-flex flex-column align-items-center gap-2">
                <section class="text-center">
                    <h1 class="fw-semibold">MacBook Air</h1>
                    <h4 class="fw-normal mt-2">Sky blue color.<br>Sky high performance with M4.</h4>
                    <section class="d-flex justify-content-center align-items-center gap-3 mt-4">
                        <button type="button" class="btn btn-primary rounded-pill btn-lg">Learn more</button>
                        <button type="button" class="btn btn-outline-primary rounded-pill btn-lg">Buy</button>
                    </section>
                </section>
                <section>
                    <img src="../../assets/images/home/section1/section1_new-Photoroom.png" alt="Imagen"
                        class="img-fluid">
                </section>
                <p class="text-center fs-5 fw-medium">Built for Apple Intelligence.</p>
            </section>
        </section>
        <section id="section2">
            <section class="d-flex flex-column align-items-center justify-content-between gap-4">
                <section class="text-center">
                    <h1 class="fw-bolder">iPhone</h1>
                    <h3 class="fw-normal">Meet the iPhone 16 family.</h3>
                    <section class="d-flex justify-content-center align-items-center gap-3 mt-4">
                        <button type="button" class="btn btn-primary rounded-pill btn-lg">Learn more</button>
                        <button type="button" class="btn btn-outline-primary rounded-pill btn-lg">Shop
                            iPhone</button>
                    </section>
                    <h5 class="mt-4">
                        <span>Built for Apple Intelligence.</span>
                    </h5>
                </section>
                <section>
                    <img src="../../assets/images/home/section1/section2-Photoroom.png" alt="Imagen" class="img-fluid">
                </section>
            </section>
        </section>
        <section id="section3">
            <section>
                <section class="text-center">
                    <section class="d-flex justify-content-center align-items-center">
                        <img src="../../assets/images/home/svg/logo-apple.svg" alt="Logo Apple" width="45" height="45">
                        <h1 class="mb-0 mt-1 fw-bolder">Trade In</h1>
                    </section>
                    <h4 class="fw-normal mt-1 ms-2">Get extra credit toward a new iPhone when you
                        trade in.</h4>
                    <h5 class="fw-light text-secondary">Now through 6.18</h5>
                    <section class="d-flex justify-content-center mt-4">
                        <button type="button" class="btn btn-primary rounded-pill btn-lg">Get your
                            estimate</button>
                    </section>
                </section>
                <section>
                    <img id="imgSection3" src="../../assets/images/home/section1/section3_new-Photoroom.png"
                        alt="Imagen" class="img-fluid">
                </section>
            </section>
        </section>
        <section class="row m-0 section2 g-3">
            <div class="div1 col-12 col-md-6">
                <div class="text-center div1-1 d-flex align-items-center">
                    <div>
                        <img class="w-75 shadow-img img-fluid" src="../../assets/images/home/section2/img1.png" alt="">
                        <img src="../../assets/images/home/section2/img2.png" class="img-fluid" alt="">
                        <p class="text-center fw-bold">Apple Worldwide Developers Conference. <br>Join us online June
                            9-13
                        </p>
                        <button type="button" class="btn btn-primary rounded-pill">Learn more</button>
                    </div>
                </div>
            </div>
            <div class="div2 col-12 col-md-6 d-flex align-items-center">
                <div class="text-center div2-2 d-flex align-items-center">
                    <div>
                        <h3 class="fw-bold fs-2"><i class="bi bi-apple"></i>WATCH</h3>
                        <p class="mb-0 fw-bold">SERIES 10</p>
                        <p class="mb-0 fs-4 mt-1 mb-3">Thinstant classic</p>
                        <div class="my-2">
                            <button type="button" class="btn btn-primary rounded-pill me-1">Learn more</button>
                            <button type="button" class="btn btn-outline-primary rounded-pill px-3">Buy</button>
                        </div>
                        <img class="mt-5 img-fluid" src="../../assets/images/home/section2/img3-copia.png" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section class="row m-0 section2 g-3">
            <div class="div1 col-12 col-md-6">
                <div class="text-center div1-1 d-flex align-items-center" id="fondo-degrade">
                    <div class="text-center align-items-center w-100">
                        <img src="../../assets/images/home/section2/img6.png" class="img-fluid" alt="">
                        <p class="fs-5">Now supercharged by the M3 chip.</p>
                        <button type="button" class="btn btn-primary rounded-pill me-1">Learn more</button>
                        <button type="button" class="btn btn-outline-primary rounded-pill px-3">Apply now</button>
                        <img src="../../assets/images/home/section2/img4.png" class="img-fluid mt-4" alt=""><br>
                        <p class="text-center text-degrade mt-4">Built for Apple Intelligence.
                        </p>
                    </div>
                </div>
            </div>
            <div class="div2 col-12 col-md-6 d-flex align-items-center">
                <div class="text-center div2-2 d-flex align-items-center w-100">
                    <div class="text-center align-items-center w-100">
                        <h3 class="fs-1">College <br>Students</h3>
                        <p class="mb-0 fs-5 mt-1">Macs and iPads. Brilliant.</p>
                        <p class="mb-0 fs-5 mb-3">EIn every class.</p>
                        <div class="my-2">
                            <button type="button" class="btn btn-primary rounded-pill me-1">Learn More</button>
                        </div>
                        <img class="mt-5 img-fluid" src="../../assets/images/home/section2/img5.png" alt="">
                    </div>
                </div>
        </section>

        <section class="row m-0 section2 g-3">
            <div class="div2 col-12 col-md-6 d-flex align-items-cente">
                <div class="text-center div2-2 d-flex align-items-center w-100">
                    <div class="text-center align-items-center w-100">
                        <img class="img-fluid w-75 px-5" src="../../assets/images/home/section2/img7.png" alt="">
                        <h3 class="fs-1">
                            OS preview</h3>
                        <p class="mb-3 fs-5 mt-1">Discover amazing new features <br> on all platforms.</p>
                        <button type="button" class="btn btn-primary rounded-pill me-1">See the trailer</button>
                    </div>
                </div>
            </div>
            <div class="div2 col-12 col-md-6 d-flex align-items-center">
                <div class="text-center div2-2 d-flex align-items-center w-100">
                    <div class="text-center align-items-center w-100">
                        <h3 class="fs-1"><i class="bi bi-apple"></i>Card</h3>
                        <p class="mb-0 fs-5 mt-1 mb-3">Get up to 3% Daily Cash back<br>with every purchase.</p>
                        <button type="button" class="btn btn-primary rounded-pill me-1">Learn more</button>
                        <button type="button" class="btn btn-outline-primary rounded-pill px-3">Apply now</button>
                        <img class="img-fluid w-100" src="../../assets/images/home/section2/img4.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section id="sectionCarousel" class="">
            <div class="swiper">
                <div class="my-5 swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/carousel/monitor1.jpg" alt="Imagen de Slide"
                            class="img-fluid">
                        <div class="btn-slide">
                            <button class="me-2">Stream now</button>
                            <p class="d-inline fs-5"><b>Comedy •</b></p>
                            <p class="d-inline fs-5">Kindness makes a comeback.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/carousel/monitor2.jpg" alt="Imagen de Slide"
                            class="img-fluid">
                        <div class="btn-slide">
                            <button class="me-2">Stream now</button>
                            <p class="d-inline fs-5"><b>Suspense •</b></p>
                            <p class="d-inline fs-5">Surgical division of his memories between work and personal life.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/carousel/monitor3.jpg" alt="Imagen de Slide"
                            class="img-fluid">
                        <div class="btn-slide">
                            <button class="me-2">Stream now</button>
                            <p class="d-inline fs-5"><b>Comedy •</b></p>
                            <p class="d-inline fs-5"> A heartfelt comedy about life and other hazards.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/carousel/monitor4.jpg" alt="Imagen de Slide"
                            class="img-fluid">
                        <div class="btn-slide">
                            <button class="me-2">Stream now</button>
                            <p class="d-inline fs-5"><b>Comedy •</b></p>
                            <p class="d-inline fs-5"> Seth Rogen dives into the wild chaos of Hollywood in this all-star
                                satire.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/carousel/monitor5.jpg" alt="Imagen de Slide"
                            class="img-fluid">
                        <div class="btn-slide">
                            <button class="me-2">Stream now</button>
                            <p class="d-inline fs-5"><b>Drama •</b></p>
                            <p class="d-inline fs-5">Live your best lie.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/carousel/monitor6.jpg" alt="Imagen de Slide"
                            class="img-fluid">
                        <div class="btn-slide">
                            <button class="me-2">See the schedule</button>
                            <p class="d-inline fs-5">Watch every club, every match, live—all season long.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/carousel/monitor7.jpg" alt="Imagen de Slide"
                            class="img-fluid">
                        <div class="btn-slide">
                            <button class="me-2">Stream now</button>
                            <p class="d-inline fs-5"><b>Comedy •</b></p>
                            <p class="d-inline fs-5">Kindness makes a comeback.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/carousel/monitor8.jpg" alt="Imagen de Slide"
                            class="img-fluid">
                        <div class="btn-slide">
                            <button class="me-2">Stream now</button>
                            <p class="d-inline fs-5"><b>Comedy •</b></p>
                            <p class="d-inline fs-5">Kindness makes a comeback.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/carousel/monitor9.jpg" alt="Imagen de Slide"
                            class="img-fluid">
                        <div class="btn-slide">
                            <button class="me-2">Stream now</button>
                            <p class="d-inline fs-5"><b>Comedy •</b></p>
                            <p class="d-inline fs-5">Kindness makes a comeback.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/carousel/monitor10.jpg" alt="Imagen de Slide"
                            class="img-fluid">
                        <div class="btn-slide">
                            <button class="me-2">Stream now</button>
                            <p class="d-inline fs-5"><b>Comedy •</b></p>
                            <p class="d-inline fs-5">Kindness makes a comeback.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>

        <section id="sectionCarousel2">
            <div class="ticker-wrapper">
                <div class="ticker-track">
                    <div class="slide p-1">
                        <img src="../../assets/images/home/carousel2/foto1.jpg" alt="" class="img-fluid">
                        <button class="hover-btn">Watch now</button>
                        <p class="p-img">Strength whit Gregg</p>
                        <p class="p-img2 fw-bold"><i class="bi bi-apple"></i>Fitness+</p>
                    </div>
                    <div class="slide p-1">
                        <img src="../../assets/images/home/carousel2/foto2.png" alt="" class="img-fluid">
                        <button class="hover-btn">Listen now</button>
                        <p class="p-img2 text-dark fw-bold"><i class="bi bi-apple"></i>Music</p>
                    </div>
                    <div class="slide p-1">
                        <img src="../../assets/images/home/carousel2/foto3.jpg" alt="" class="img-fluid">
                        <button class="hover-btn">Watch now</button>
                        <p class="p-img">Strong and Calm Combos for Busy Days</p>
                        <p class="p-img2 fw-bold"><i class="bi bi-apple"></i> Fitness+</p>
                    </div>
                    <div class="slide p-1">
                        <img src="../../assets/images/home/carousel2/foto4.jpg" alt="" class="img-fluid">
                        <button class="hover-btn">Play now</button>
                        <p class="p-img">PGA TOUR Pro Golf</p>
                        <p class="p-img2 fw-bold"><i class="bi bi-apple"></i>Arcade</p>
                    </div>
                    <div class="slide p-1">
                        <img src="../../assets/images/home/carousel2/foto5.jpg" alt="" class="img-fluid">
                        <button class="hover-btn">Watch now</button>
                        <p class="p-img">Balatro+</p>
                        <p class="p-img2 fw-bold"><i class="bi bi-apple"></i>Arcade</p>
                    </div>
                    <div class="slide p-1">
                        <img src="../../assets/images/home/carousel2/foto1.jpg" alt="" class="img-fluid">
                        <button class="hover-btn">Play now</button>
                        <p class="p-img">Strength whit Gregg</p>
                        <p class="p-img2 fw-bold"><i class="bi bi-apple"></i>Fitness+</p>
                    </div>
                    <div class="slide p-1">
                        <img src="../../assets/images/home/carousel2/foto2.png" alt="" class="img-fluid">
                        <button class="hover-btn">Listen now</button>
                        <p class="p-img2 text-dark fw-bold"><i class="bi bi-apple"></i>Music</p>
                    </div>
                    <div class="slide p-1">
                        <img src="../../assets/images/home/carousel2/foto3.jpg" alt="" class="img-fluid">
                        <button class="hover-btn">Watch now</button>
                        <p class="p-img">Strong and Calm Combos for Busy Days</p>
                        <p class="p-img2 fw-bold"><i class="bi bi-apple"></i>Fitness+</p>
                    </div>
                    <div class="slide p-1">
                        <img src="../../assets/images/home/carousel2/foto4.jpg" alt="" class="img-fluid">
                        <button class="hover-btn">Play now</button>
                        <p class="p-img">PGA TOUR Pro Golf</p>
                        <p class="p-img2 fw-bold"><i class="bi bi-apple"></i>Arcade</p>
                    </div>
                    <div class="slide p-1">
                        <img src="../../assets/images/home/carousel2/foto5.jpg" alt="" class="img-fluid">
                        <button class="hover-btn">Play now</button>
                        <p class="p-img">Balatro+</p>
                        <p class="p-img2 fw-bold"><i class="bi bi-apple"></i>Arcade</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- ARREGLAR movimiento del segundo carrusel (swiper no funca bien para cosas q se muevan continuamente, preguntarle a chat gpt si me recomienda otra tecnologia) -->

    </main>
    <footer class="px-2 px-md-3 px-lg-5 py-5 mt-5">
        <section id="terminos" class="mx-2 mx-md-3 mx-lg-5 pb-4 border-bottom border-2"></section>
        <section id="menu"
            class="mx-2 mx-md-3 mx-lg-5 my-4 row row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 g-4">
        </section>
        <p class="mx-2 mx-md-3 mx-lg-5 mt-3 mb-0 text-secondary"><small>More ways to shop: Find an Apple Store or other
                retailer near you. Or call 1-800-MY-APPLE (1-800-692-7753).</small></p>
        <section class="mx-2 mx-md-3 mx-lg-5 mt-2 pt-2 mb-0 border-top border-2 d-flex justify-content-between">
            <p class="text-secondary mb-0"><small>Copyright © 2025 Apple Inc. All rights reserved.</small></p>
            <p class="mb-0"><small>United States</small></p>
        </section>
        <p class="mx-2 mx-md-3 mx-lg-5 mt-1">
            <small>
                Privacy Policy | Terms of Use | Sales and Refunds | Legal | Site Map
            </small>
        </p>
    </footer>
    <script src="../../vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../vendors/swiper/js/swiper-bundle.min.js"></script>
    <script src="../../assets/js/home.js"></script>
    <script src="../../assets/js/footer.js"></script>
</body>

</html>
