<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sitio Web - Proyecto Apple">
    <link rel="shortcut icon" href="../../assets/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../vendors/bootstrap/css/bootstrap.min.css">
    <title>Apple</title>
</head>

<body>
    <header>
        <nav>

        </nav>
    </header>
    <main>
        <section class="d-flex flex-column justify-content-between align-items-center"
            style="min-height: 98vh; background-color: #f5f5f7;">
            <section class="text-center" style="margin-top: 5rem;">
                <section class="d-flex justify-content-center align-items-center">
                    <img src="../../assets/images/home/svg/logo-apple.svg" alt="Logo Apple" width="45" height="45">
                    <h1 class="mb-0 mt-1 fw-bolder" style="font-size: 3rem;">WATCH</h1>
                </section>
                <h4 class="fw-semibold mt-1 ms-2" style="letter-spacing: 1px; font-size: 1.4rem;">SERIES 10</h4>
                <h3 class="fw-normal">Thinstant classic.</h3>
                <section class="d-flex justify-content-center align-items-center gap-3 mt-4">
                    <button type="button" class="btn btn-primary rounded-pill btn-lg">Learn more</button>
                    <button type="button" class="btn btn-outline-primary rounded-pill btn-lg">Buy</button>
                </section>
            </section>
            <section>
                <img src="../../assets/images/home/section1-Photoroom.png" alt="Imagen Apple Watch">
            </section>
        </section>
        <section class="d-flex flex-column justify-content-between align-items-center"
            style="min-height: 98vh; background-color: #f5f5f7;">
            <section class="text-center" style="margin-top: 5rem;">
                <h1 class="mb-0 mt-1 fw-bolder" style="font-size: 3rem;">iPhone</h1>
                <h3 class="fw-normal">Meet the iPhone 16 family.</h3>
                <section class="d-flex justify-content-center align-items-center gap-3 mt-4">
                    <button type="button" class="btn btn-primary rounded-pill btn-lg">Learn more</button>
                    <button type="button" class="btn btn-outline-primary rounded-pill btn-lg">Shop iPhone</button>
                </section>
            </section>
            <section>
                <img src="../../assets/images/home/section2-Photoroom.png" alt="Imagen Apple Watch">
            </section>
        </section>
        <section class="d-flex flex-column justify-content-between align-items-center"
            style="min-height: 98vh; background-color: #f5f5f7;">
            <section class="text-center" style="margin-top: 5rem;">
                <section class="d-flex justify-content-center align-items-center">
                    <img src="../../assets/images/home/svg/logo-apple.svg" alt="Logo Apple" width="45" height="45">
                    <h1 class="mb-0 mt-1 fw-bolder" style="font-size: 3rem;">WATCH</h1>
                </section>
                <h4 class="fw-semibold mt-1 ms-2" style="letter-spacing: 1px; font-size: 1.4rem;">SERIES 10</h4>
                <h3 class="fw-normal">Thinstant classic.</h3>
                <section class="d-flex justify-content-center align-items-center gap-3 mt-4">
                    <button type="button" class="btn btn-primary rounded-pill btn-lg">Learn more</button>
                    <button type="button" class="btn btn-outline-primary rounded-pill btn-lg">Buy</button>
                </section>
            </section>
            <section>
                <img src="../../assets/images/home/section3-Photoroom.png" alt="Imagen Apple Watch">
            </section>
        </section>
    </main>
    <footer>

    </footer>
    <script src="../../vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
