<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sitio Web - Proyecto Apple">
    <title>Apple</title>
    <link rel="shortcut icon" href="../../assets/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../vendors/swiper/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../../assets/styles/home.css">
</head>

<body>
    <header>
        <nav>

        </nav>
    </header>
    <main>
        <section id="section1">
            <section class="d-flex flex-column align-items-center gap-2">
                <section class="text-center">
                    <h1 class="fw-semibold">MacBook Air</h1>
                    <h4 class="fw-normal mt-2">Sky blue color.<br>Sky high performance with M4.</h4>
                    <section class="d-flex justify-content-center align-items-center gap-3 mt-4">
                        <button type="button" class="btn btn-primary rounded-pill btn-lg">Learn more</button>
                        <button type="button" class="btn btn-outline-primary rounded-pill btn-lg">Buy</button>
                    </section>
                </section>
                <section>
                    <img src="../../assets/images/home/section1/section1_new-Photoroom.png" alt="Imagen"
                        class="img-fluid">
                </section>
                <p class="text-center fs-5 fw-medium">Built for Apple Intelligence.</p>
            </section>
        </section>
        <section id="section2">
            <section class="d-flex flex-column align-items-center justify-content-between gap-4">
                <section class="text-center">
                    <h1 class="fw-bolder">iPhone</h1>
                    <h3 class="fw-normal">Meet the iPhone 16 family.</h3>
                    <section class="d-flex justify-content-center align-items-center gap-3 mt-4">
                        <button type="button" class="btn btn-primary rounded-pill btn-lg">Learn more</button>
                        <button type="button" class="btn btn-outline-primary rounded-pill btn-lg">Shop iPhone</button>
                    </section>
                    <h5 class="mt-4">
                        <span>Built for Apple Intelligence.</span>
                    </h5>
                </section>
                <section>
                    <img src="../../assets/images/home/section1/section2-Photoroom.png" alt="Imagen" class="img-fluid">
                </section>
            </section>
        </section>
        <section id="section3">
            <section>
                <section class="text-center">
                    <section class="d-flex justify-content-center align-items-center">
                        <img src="../../assets/images/home/svg/logo-apple.svg" alt="Logo Apple" width="45" height="45">
                        <h1 class="mb-0 mt-1 fw-bolder">Trade In</h1>
                    </section>
                    <h4 class="fw-normal mt-1 ms-2">Get extra credit toward a new iPhone when you
                        trade in.</h4>
                    <h5 class="fw-light text-secondary">Now through 6.18</h5>
                    <section class="d-flex justify-content-center mt-4">
                        <button type="button" class="btn btn-primary rounded-pill btn-lg">Get your estimate</button>
                    </section>
                </section>
                <section>
                    <img id="imgSection3" src="../../assets/images/home/section1/section3_new-Photoroom.png"
                        alt="Imagen" class="img-fluid">
                </section>
            </section>
        </section>
        <section id="sectionCarousel" class="py-5">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/carousel/monitor1.jpg" alt="Imagen de Slide"
                            class="img-fluid">
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/carousel/monitor2.jpg" alt="Imagen de Slide"
                            class="img-fluid">
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/carousel/monitor3.jpg" alt="Imagen de Slide"
                            class="img-fluid">
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/carousel/monitor4.jpg" alt="Imagen de Slide"
                            class="img-fluid">
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/carousel/monitor5.jpg" alt="Imagen de Slide"
                            class="img-fluid">
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/carousel/monitor6.jpg" alt="Imagen de Slide"
                            class="img-fluid">
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/carousel/monitor7.jpg" alt="Imagen de Slide"
                            class="img-fluid">
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/carousel/monitor8.jpg" alt="Imagen de Slide"
                            class="img-fluid">
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/carousel/monitor9.jpg" alt="Imagen de Slide"
                            class="img-fluid">
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/carousel/monitor10.jpg" alt="Imagen de Slide"
                            class="img-fluid">
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>
    </main>
    <footer class="px-2 px-md-3 px-lg-5 py-5">
        <section id="terminos" class="mx-2 mx-md-3 mx-lg-5 pb-4 border-bottom border-2"></section>
        <section id="menu"
            class="mx-2 mx-md-3 mx-lg-5 my-4 row row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 g-4">
        </section>
        <p class="mx-2 mx-md-3 mx-lg-5 mt-3 mb-0 text-secondary"><small>More ways to shop: Find an Apple Store or other
                retailer near you. Or call 1-800-MY-APPLE (1-800-692-7753).</small></p>
        <section class="mx-2 mx-md-3 mx-lg-5 mt-2 pt-2 mb-0 border-top border-2 d-flex justify-content-between">
            <p class="text-secondary mb-0"><small>Copyright © 2025 Apple Inc. All rights reserved.</small></p>
            <p class="mb-0"><small>United States</small></p>
        </section>
        <p class="mx-2 mx-md-3 mx-lg-5 mt-1">
            <small>
                Privacy Policy | Terms of Use | Sales and Refunds | Legal | Site Map
            </small>
        </p>
    </footer>
    <script src="../../vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../vendors/swiper/js/swiper-bundle.min.js"></script>
    <script src="../../assets/js/home.js"></script>
    <script src="../../assets/js/footer.js"></script>
</body>

</html>
