<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sitio Web - Proyecto Apple">
    <link rel="shortcut icon" href="../../assets/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../vendors/bootstrap/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/styles/home.css">
    <link rel="stylesheet" href="../../assets/styles/accesories.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

    <title>Apple Accessories</title>
</head>

<body>
    <header class="bg-body-tertiary">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav align-items-center mx-auto mb-2 mb-lg-0 gap-3">
                        <li class="nav-item">
                            <a class="nav-link" href="../home/index.html"><i class="bi bi-apple text-dark"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navItem" href="#"><small>Store</small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navItem" href="#"><small>Mac</small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navItem" href="#"><small>iPad</small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navItem" href="#"><small>iPhone</small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navItem" href="#"><small>Watch</small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navItem" href="#"><small>Vision</small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navItem" href="#"><small>AirPods</small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navItem" href="#"><small>TV & Home</small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navItem" href="#"><small>Entertainment</small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navItem" href="../accesories/index.html"><small>Accessories</small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navItem" href="#"><small>Support</small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="bi bi-search text-dark"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="bi bi-bag-fill text-dark"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="subNav" class="px-5">
            <section class="row row-cols-4 gap-5 justify-content-center">
                <section class="d-flex flex-column">
                    <p class="mb-3 text-secondary"><small>Explore Watch</small></p>
                    <h4 class="mb-1">Explore All Apple Watch</h4>
                    <h4 class="mb-1">Apple Watch Series 10</h4>
                    <h4 class="mb-1">Apple Watch Ultra 2</h4>
                    <h4 class="mb-1">Apple Watch SE</h4>
                    <h4 class="mb-1">Apple Watch Nike</h4>
                    <h4 class="mb-3">Apple Watch Hermès</h4>
                    <p class="mb-0 fw-semibold"><small>Compare Watch</small></p>
                    <p class="fw-semibold"><small>Why Apple Watch</small></p>
                </section>
                <section class="d-flex flex-column">
                    <p class="mb-3 text-secondary"><small>Shop Watch</small></p>
                    <p class="mb-1"><small>Shop Apple Watch</small></p>
                    <p class="mb-1"><small>Apple Watch Studio</small></p>
                    <p class="mb-1"><small>Apple Watch Bands</small></p>
                    <p class="mb-1"><small>Apple Watch Accessories</small></p>
                    <p class="mb-1"><small>Apple Trade In</small></p>
                    <p><small>Financing</small></p>
                </section>
                <section class="d-flex flex-column">
                    <p class="mb-3 text-secondary"><small>More from Watch</small></p>
                    <p class="mb-1"><small>Apple Watch Support</small></p>
                    <p class="mb-1"><small>AppleCare+</small></p>
                    <p class="mb-1"><small>watchOS 26 Preview</small></p>
                    <p class="mb-1"><small>Apple Watch For Your Kids</small></p>
                    <p class="mb-1"><small>Apps by Apple</small></p>
                    <p><small>Apple Fitness+</small></p>
                </section>
            </section>
        </div>
    </header>
    <main>
        <section class="hero">
            <div class="hero-content">
                <h1>Accessorize in a snap.</h1>
                <p>Find a MagSafe case, wallet or charger that's right for you.</p>
                <div class="hero-links">
                    <a href="#" class="hero-link">Shop MagSafe ></a>
                </div>
            </div>
            <div class="imag">
                <img src="../../assets/images/accesories/aalp-magsafe-header-202503.png" alt="Apple Accessories">
            </div>
        </section>

        <section class="search">
            <h2>Find the accessories you're looking for.</h2>
            <div class="search-container">
                <div class="search-box">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                            d="M10 2a8 8 0 015.29 13.71l4 4a1 1 0 01-1.42 1.42l-4-4A8 8 0 1110 2zm0 2a6 6 0 100 12 6 6 0 000-12z" />
                    </svg>
                    <input type="text" placeholder="Search accessories">
                </div>
            </div>
        </section>

        <section class="browse-bubbles">
            <div class="tabs">
                <button class="tab-button active" data-tab="product">Browse by Product</button>
                <button class="tab-button" data-tab="category">Browse by Category</button>
            </div>

            <div id="product" class="tab-content active">
                <div class="icons-container">
                    <div class="icon-item">
                        <div class="icon-bubble">
                            <img src="../../assets/images/accesories/product/icon-product-mac.png" alt="Apple">
                        </div>
                        Mac
                    </div>
                    <div class="icon-item">
                        <div class="icon-bubble">
                            <img src="../../assets/images/accesories/product/icon-product-ipad.png" alt="iPad">
                        </div>
                        iPad
                    </div>
                    <div class="icon-item">
                        <div class="icon-bubble">
                            <img src="../../assets/images/accesories/product/icon-product-iphone.png" alt="iPhone">
                        </div>
                        iPhone
                    </div>
                    <div class="icon-item">
                        <div class="icon-bubble">
                            <img src="../../assets/images/accesories/product/icon-product-watch.png" alt="Watch">
                        </div>
                        Watch
                    </div>
                    <div class="icon-item">
                        <div class="icon-bubble">
                            <img src="../../assets/images/accesories/product/icon-product-vision-pro.png"
                                alt="Vision Pro">
                        </div>
                        Apple Vision Pro
                    </div>
                </div>

                <input type="checkbox" id="toggle-more">

                <!-- iconos extra -->
                <div class="extra-icons-wrapper">
                    <div class="icons-container">
                        <div class="icon-item">
                            <div class="icon-bubble">
                                <img src="../../assets/images/accesories/product/icon-product-tv.png" alt="TV & Home">
                            </div>
                            TV & Home
                        </div>
                        <div class="icon-item">
                            <div class="icon-bubble">
                                <img src="../../assets/images/accesories/product/icon-product-beats.png"
                                    alt="Beats by Dr. Dre">
                            </div>
                            Beats by Dr. Dre
                        </div>
                    </div>
                </div>

                <!-- label como boton -->
                <label for="toggle-more" class="show-more-label"></label>
            </div>

            <div id="category" class="tab-content">
                <div class="icons-container">
                    <div class="icon-item">
                        <div class="icon-bubble">
                            <img src="../../assets/images/accesories/category/icon-category-new-arrivals.png"
                                alt="Apple">
                        </div>
                        New Arrivals
                    </div>
                    <div class="icon-item">
                        <div class="icon-bubble">
                            <img src="../../assets/images/accesories/category/icon-category-cases-protection.png"
                                alt="Apple">
                        </div>
                        Cases & Protection
                    </div>
                    <div class="icon-item">
                        <div class="icon-bubble">
                            <img src="../../assets/images/accesories/category/icon-category-charging-essentials.png"
                                alt="Apple">
                        </div>
                        Charging Essentials
                    </div>
                    <div class="icon-item">
                        <div class="icon-bubble">
                            <img src="../../assets/images/accesories/category/icon-category-magsafe.png" alt="Apple">
                        </div>
                        MagSafe
                    </div>
                    <div class="icon-item">
                        <div class="icon-bubble">
                            <img src="../../assets/images/accesories/category/icon-category-audio-music.png"
                                alt="Apple">
                        </div>
                        Headphones & Speakers
                    </div>
                </div>
                <input type="checkbox" id="toggle-more-category">

                <!-- iconos extra -->
                <div class="extra-icons-wrapper-category">
                    <div class="icons-container">
                        <div class="icon-item">
                            <div class="icon-bubble">
                                <img src="../../assets/images/accesories/category/icon-category-watch-bands.png"
                                    alt="Apple">
                            </div>
                            Apple Watch Bands
                        </div>
                        <div class="icon-item">
                            <div class="icon-bubble">
                                <img src="../../assets/images/accesories/category/icon-product-vision-pro.png"
                                    alt="Apple">
                            </div>
                            Apple Vision Pro
                        </div>
                        <div class="icon-item">
                            <div class="icon-bubble">
                                <img src="../../assets/images/accesories/category/icon-category-house-wifi.png"
                                    alt="Apple">
                            </div>
                            Home Office
                        </div>
                        <div class="icon-item">
                            <div class="icon-bubble">
                                <img src="../../assets/images/accesories/category/icon-category-mice-keyboards.png"
                                    alt="Apple">
                            </div>
                            Mice & Keyboards
                        </div>
                        <div class="icon-item">
                            <div class="icon-bubble">
                                <img src="../../assets/images/accesories/category/icon-category-airtag.png" alt="Apple">
                            </div>
                            AirTag and Accessories
                        </div>
                        <div class="icon-item">
                            <div class="icon-bubble">
                                <img src="../../assets/images/accesories/category/icon-category-health-fitness.png"
                                    alt="Apple">
                            </div>
                            Health & Fitness
                        </div>
                        <div class="icon-item">
                            <div class="icon-bubble">
                                <img src="../../assets/images/accesories/category/icon-category-gaming.png" alt="Apple">
                            </div>
                            Gaming
                        </div>
                        <div class="icon-item">
                            <div class="icon-bubble">
                                <img src="../../assets/images/accesories/category/icon-category-photography-creativity.png"
                                    alt="Apple">
                            </div>
                            Photography
                        </div>
                        <div class="icon-item">
                            <div class="icon-bubble">
                                <img src="../../assets/images/accesories/category/icon-category-creative-tools.png"
                                    alt="Apple">
                            </div>
                            Creative Tools
                        </div>
                        <div class="icon-item">
                            <div class="icon-bubble">
                                <img src="../../assets/images/accesories/category/icon-category-home-automation.png"
                                    alt="Apple">
                            </div>
                            Smart Home Accessories
                        </div>
                        <div class="icon-item">
                            <div class="icon-bubble">
                                <img src="../../assets/images/accesories/category/icon-category-software.png"
                                    alt="Apple">
                            </div>
                            Software
                        </div>
                        <div class="icon-item">
                            <div class="icon-bubble">
                                <img src="../../assets/images/accesories/category/icon-category-storage.png"
                                    alt="Apple">
                            </div>
                            Storage
                        </div>
                    </div>
                </div>
                <!-- label como boton -->
                <label for="toggle-more-category" class="show-more-label-category"></label>
            </div>
        </section>
        <section class="playful-picks container py-5">
            <h2>Playful Picks</h2>
            <div class="position-relative">
                <!-- Carrusel -->
                <div id="cardCarousel" class="scrolling-wrapper">
                    <!-- Card 1 -->
                    <div class="card-wrapper">
                        <div class="card shadow-sm bg-secondary-subtle border-0">
                            <img src="../../assets/images/accesories/playful-picks/HS572.png" class="card-img-top"
                                alt="Charger" />
                            <div class="card-body text-center">
                                <p class="only-at">Only at Apple</p>
                                <p class="fw-bold mb-1">mophie 3-in-1 Travel Charger</p>
                                <p class="fw-bold mb-1">(MagSafe compatible) - Orange</p>
                                <p class="fw-bold">$149.95</p>
                            </div>
                        </div>
                    </div>

                    <!-- Card 2 -->
                    <div class="card-wrapper">
                        <div class="card shadow-sm bg-secondary-subtle border-0">
                            <img src="../../assets/images/accesories/playful-picks/HS5T2.png" class="card-img-top"
                                alt="Charger" />
                            <div class="card-body text-center">
                                <p class="only-at">Only at Apple</p>
                                <p class="fw-bold mb-1">Tech21 Translucent EvoPop <br> AirPods 4 Case - Coral</p>
                                <p class="fw-bold">$39.95</p>
                            </div>
                        </div>
                    </div>

                    <!-- Card 3 -->
                    <div class="card-wrapper">
                        <div class="card shadow-sm bg-secondary-subtle border-0">
                            <img src="../../assets/images/accesories/playful-picks/HS5F2.png" class="card-img-top"
                                alt="Charger" />
                            <div class="card-body text-center">
                                <p class="only-at">Only at Apple</p>
                                <p class="fw-bold mb-1">PopSockets Magsafe Grip for <br>iPhone - Blueberry</p>
                                <p class="fw-bold">$34.95</p>
                            </div>
                        </div>
                    </div>

                    <!-- Card 4 (ejemplo extra) -->
                    <div class="card-wrapper">
                        <div class="card shadow-sm bg-secondary-subtle border-0">
                            <img src="../../assets/images/accesories/playful-picks/HS542.png" class="card-img-top"
                                alt="Charger" />
                            <div class="card-body text-center">
                                <p class="only-at">Only at Apple</p>
                                <p class="fw-bold mb-1">mophie powerstation plus 10K - <br> Teal</p>
                                <p class="fw-bold">$79.95</p>
                            </div>
                        </div>
                    </div>
                    <!-- Card 5 -->
                    <div class="card-wrapper">
                        <div class="card shadow-sm bg-secondary-subtle border-0">
                            <img src="../../assets/images/accesories/playful-picks/HS5A2.png" class="card-img-top"
                                alt="Charger" />
                            <div class="card-body text-center">
                                <p class="only-at">Only at Apple</p>
                                <p class="fw-bold mb-1">Herschel Burrard Organizer Tech <br> - Multicolor</p>
                                <p class="fw-bold">$49.95</p>
                            </div>
                        </div>
                    </div>
                    <!-- Card 6 -->
                    <div class="card-wrapper">
                        <div class="card shadow-sm bg-secondary-subtle border-0">
                            <img src="../../assets/images/accesories/playful-picks/HS4X2.png" class="card-img-top"
                                alt="Charger" />
                            <div class="card-body text-center">
                                <p class="only-at">Only at Apple</p>
                                <p class="fw-bold mb-1">Producto 4</p>
                                <p class="mb-1">Descripción</p>
                                <p class="fw-bold">$69.95</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Botones izquierda y derecha -->
                <button class="btn btn-light position-absolute top-50 start-0 translate-middle-y border-0 shadow-sm"
                    onclick="scrollLeft()">
                    <i class="bi bi-chevron-left fs-3"></i>
                </button>

                <button class="btn btn-light position-absolute top-50 end-0 translate-middle-y border-0 shadow-sm"
                    onclick="scrollRight()">
                    <i class="bi bi-chevron-right fs-3"></i>
                </button>

            </div>
        </section>
    </main>
    <footer class="px-2 px-md-3 px-lg-5 py-5 mt-5">
        <section id="terminos" class="mx-2 mx-md-3 mx-lg-5 pb-4 border-bottom border-2"></section>
        <section id="menu"
            class="mx-2 mx-md-3 mx-lg-5 my-4 row row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 g-4">
        </section>
        <p class="mx-2 mx-md-3 mx-lg-5 mt-3 mb-0 text-secondary"><small>More ways to shop: Find an Apple Store or other
                retailer near you. Or call 1-800-MY-APPLE (1-800-692-7753).</small></p>
        <section class="mx-2 mx-md-3 mx-lg-5 mt-2 pt-2 mb-0 border-top border-2 d-flex justify-content-between">
            <p class="text-secondary mb-0"><small>Copyright © 2025 Apple Inc. All rights reserved.</small></p>
            <p class="mb-0"><small>United States</small></p>
        </section>
        <p class="mx-2 mx-md-3 mx-lg-5 mt-1">
            <small>
                Privacy Policy | Terms of Use | Sales and Refunds | Legal | Site Map
            </small>
        </p>
    </footer>
    <script src="../../assets/js/home.js"></script>
    <script src="../../assets/js/footer.js"></script>
    <script src="../../assets/script/accesories.js"></script>
    <script src="../../vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
